<h1>Add Event</h1>

<form method="post"> <!--POST-->
    <input name="name" type="text" />
    <input type="submit" value="Add Event" /> <!--method needs to be added to controller using HttpPost in order for form submit to work-->
</form>