@using CodingEvents.Models @*import model ensure this template has access to Event type *@

<!--that calls model will be type List<Event>-->
@model List<EventCategory>

<h1>Event Category</h1>


<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (EventCategory category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>